.todoForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    flex: 1;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.search-box input {
    border: none;
    font-size: 18px;
    padding: 30px 20px;
}

.search-box button {
    position: absolute;
    right: 7px;
    top: 7px;
    background-color: transparent;
}

.todoForm .actions {
    margin-left: 5px;
}

.todoForm .actions .btn {
    transition: ease-out .3s;
}

@media (max-width: 998px){
    .todoForm{
        flex-direction: column;
    }

    .search-box{
        margin-bottom: 15px;
    }

    .todoForm .actions {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        gap: 15px;
        margin: 0px;
    }

    .todoForm .actions .btn {
        flex: 1;
        margin: 0px;
    }
}